*{
	margin:0px;
	padding:0px; 
	font-family:Helvetica, sans-serif;
}

body {
	background-color: #FAFAFA;
}

#wrapper {
	width: 920px;
	padding: 0 20px;
	margin: 20px auto;	
}

#header {

}

#header h1 {
	color: black;
	padding: 20px 0;
	display: inline-block;
	vertical-align: middle;
	font-weight: 400;
	margin-left: 20px;
}

#menu {
	display: inline-block;
	vertical-align: middle;
	margin-left: 408px;
}

#menu ul {
	list-style: none;
	background-color: white;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0 1px 2px gray;
}

#menu li {
	display: inline-block;
	padding: 10px;
}

#menu a {
	text-decoration: none;
	color: black;
}

#menu a:hover {
	color: gray;
}

#content {
	background-color: white;
	padding: 20px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0 1px 2px gray;
}

#listaDePedidos thead {
	background-color: #2a2948;
	color: white;
	font-weight: bold;
}

#listaDePedidos tbody tr:nth-child(even) {
	background-color: #E6E8EB;
}

#listaDePedidos tbody td {
	padding: 5px 10px;	
}

#listaDePedidos th {
	background-color: #2a2948;
	color: white;
	font-weight: bold;
	padding: 5px 10px;
	min-width: 100px;
}

#listaDePedidos #nomeDoCliente {
	width: 500px;
	text-align: left;
}

#listaDePedidos a {
	text-decoration: none;
	color: black;
}

#listaDePedidos a:hover {
	color: gray;
}

#erros {
	background-color: red;
}

#footer {
	clear:both;
}

.field {
	margin: 10px 0;
}

.input, .label {
	display: inline-block;
	vertical-align: middle;
}

.label {
	width: 60px;	
}

.input input {
	font-size: 18px;
}

input:FOCUS, textarea:FOCUS {
	background-color: #e7ecf1;
	border: 1px solid gray;
	-moz-border-radius: 2px;
	padding: 1px;
}
input, label, textarea {
	display: block;
}
input.qtde {
	display: inline;
	width: 2em;
}
.hint {
	color: gray;
	font-size: 10pt;
}
label.error {
	color:red;	
}

fieldset {
	border:none;
	padding: 10px;
	width: 850px;
	border-top: 2px solid black;
}

fieldset legend {
	border: 1px solid #365372;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #D7D8D9;
	font-weight: bold;
	padding: 5px 10px;
	font-size: 16pt;
	color: black;
	margin-bottom: 40px;
}

#itens {
	margin-top: 20px
}

#itens td {
	padding: 3px;
}

#itens input {
	font-size: 18px;
}
#itens th {
	text-align: left;
	font-weight: normal;
}

form button {
	margin-top: 10px;
	font-size: 16px;
	padding: 5px 10px;
}

#infoBasica {
	margin-bottom: 20px;
}

#infoBasica th {
	width: 150px;
	text-align: left;	
}

#itensDoPedido th{
	text-align: left;
	padding-right: 15px;
}

#itensDoPedido td {
	padding-right: 15px;
	padding-bottom: 5px;
}